# Notebook for preparing redesign of data management

### Python Libraries?

In [47]:
import pandas as pd
import numpy as np

from urllib.request import urlopen
import json

import time

In [118]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State
from dash.exceptions import PreventUpdate

### Custom Modules

In [36]:
import data_processing
import plotting


%load_ext autoreload

%autoreload 1

%aimport data_processing
%aimport plotting

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
# Get the Map of US counties
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    county_geojson = json.load(response)

In [43]:
with open('data/county_geojson.json','w') as fout:
    json.dump(county_geojson,fout)

In [44]:
with open('data/county_geojson.json','r') as fout:
    county_geojson = json.load(fout)

## Data Importing

In [37]:
df = data_processing.get_covid_county_data()

In [38]:
df.head()

        date     county       state   fips  cases  deaths  fipsnum  log_deaths
0 2020-01-21  Snohomish  Washington  53061      1       0  53061.0         0.0
1 2020-01-22  Snohomish  Washington  53061      1       0  53061.0         0.0
2 2020-01-23  Snohomish  Washington  53061      1       0  53061.0         0.0
3 2020-01-24       Cook    Illinois  17031      1       0  17031.0         0.0
4 2020-01-24  Snohomish  Washington  53061      1       0  53061.0         0.0

In [35]:
df.shape

(473026, 8)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473026 entries, 0 to 473025
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        473026 non-null  datetime64[ns]
 1   county      473026 non-null  object
 2   state       473026 non-null  object
 3   fips        473026 non-null  object
 4   cases       473026 non-null  int64
 5   deaths      473026 non-null  int64
 6   fipsnum     468468 non-null  float64
 7   log_deaths  473026 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 28.9+ MB

In [116]:
time.strftime('%Y-%m-%d')

'2020-08-27'

In [110]:
# Get today's datea
date = time.strftime('%Y-%m-%d')
# Set New York for state mask
state = 'New York'

# Only look at New York Dates
state_mask = (df['state'] == state)

# create today's date mask
date_mask = (df['date'] == date)

# Get min date from df
min_date = int(time.mktime(df['date'].min().timetuple()))

# Hardcode a start date
start_date = '2020-03-01'
start_date_int = int(time.mktime(datetime.datetime.strptime(start_date, '%Y-%m-%d').timetuple()))

# Get max date from df
max_date_int = int(time.mktime(df['date'].max().timetuple()))

# Create a list of dates from max to min, going back 2 weeks each time
date_list = range(max_date_int, start_date_int, -(14*24*60*60))
date_dict = {day:time.strftime('%Y-%m-%d',time.localtime(day))  for day in date_list}

In [114]:

df.to_csv('data/covid_county_data.csv')

In [ ]:
pd.read_csv('data/covid_county_data.csv')

In [113]:
df.head()

        date     county       state   fips  cases  deaths  fipsnum  log_deaths
0 2020-01-21  Snohomish  Washington  53061      1       0  53061.0         0.0
1 2020-01-22  Snohomish  Washington  53061      1       0  53061.0         0.0
2 2020-01-23  Snohomish  Washington  53061      1       0  53061.0         0.0
3 2020-01-24       Cook    Illinois  17031      1       0  17031.0         0.0
4 2020-01-24  Snohomish  Washington  53061      1       0  53061.0         0.0

In [112]:
max(date_dict)

1598425200

In [111]:
date_dict

{1598425200: '2020-08-26',
 1597215600: '2020-08-12',
 1596006000: '2020-07-29',
 1594796400: '2020-07-15',
 1593586800: '2020-07-01',
 1592377200: '2020-06-17',
 1591167600: '2020-06-03',
 1589958000: '2020-05-20',
 1588748400: '2020-05-06',
 1587538800: '2020-04-22',
 1586329200: '2020-04-08',
 1585119600: '2020-03-25',
 1583910000: '2020-03-11'}

In [84]:
max_date

1598425200

In [74]:
time.localtime(max_date)

time.struct_time(tm_year=2020, tm_mon=8, tm_mday=26, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=239, tm_isdst=1)

In [71]:
time.strftime('%Y-%m-%d',start_date)

TypeError: Tuple or struct_time argument required

In [83]:
start_date = '2020-03-01'
start_date_int = time.mktime(datetime.datetime.strptime(start_date, '%Y-%m-%d').timetuple())

In [78]:
import datetime

In [82]:
start_date_int = time.mktime(datetime.datetime.strptime(start_date, '%Y-%m-%d').timetuple())

1583049600.0

In [68]:
date_list

range(1579593600, 1598425201, 1209600)

In [65]:
date_dict

{1579593600: '2020-01-21',
 1580803200: '2020-02-04',
 1582012800: '2020-02-18',
 1583222400: '2020-03-03',
 1584432000: '2020-03-17',
 1585641600: '2020-03-31',
 1586851200: '2020-04-14',
 1588060800: '2020-04-28',
 1589270400: '2020-05-12',
 1590480000: '2020-05-26',
 1591689600: '2020-06-09',
 1592899200: '2020-06-23',
 1594108800: '2020-07-07',
 1595318400: '2020-07-21',
 1596528000: '2020-08-04',
 1597737600: '2020-08-18'}

In [63]:
time.strftime('%Y-%m-%d')

'2020-08-27'

In [60]:
max_date = int(time.mktime(df['date'].max().timetuple()))

In [61]:
max_date

1598425200

In [59]:
time.strftime('%Y-%m-%d')

'2020-08-27'

In [51]:
date_dict

{1579593600: '2020-01-21',
 1580803200: '2020-02-04',
 1582012800: '2020-02-18',
 1583222400: '2020-03-03',
 1584432000: '2020-03-17',
 1585641600: '2020-03-31',
 1586851200: '2020-04-14',
 1588060800: '2020-04-28',
 1589270400: '2020-05-12',
 1590480000: '2020-05-26',
 1591689600: '2020-06-09',
 1592899200: '2020-06-23',
 1594108800: '2020-07-07',
 1595318400: '2020-07-21',
 1596528000: '2020-08-04',
 1597737600: '2020-08-18'}

In [62]:
date_list[-1]
time.localtime(date_list[-1])
time.strftime('%Y-%m-%d', time.localtime(max_date))

'2020-08-26'

In [ ]:
time.strftime('%Y-%m-%d', time.localtime())

# Dash Components

In [125]:
date = '2020-08-26'
date_mask = (df['date'] == date)

In [148]:
a = round(df[date_mask]['cases'].mean(),-1)

In [146]:
round(a.mean(),-1)

1810.0

In [122]:
AB = pd.DataFrame(df.to_dict())

In [123]:
AB

,date,county,state,fips,cases,deaths,fipsnum,log_deaths
0,2020-01-21,Snohomish,Washington,53061,1,0,53061.0,0.000000
1,2020-01-22,Snohomish,Washington,53061,1,0,53061.0,0.000000
2,2020-01-23,Snohomish,Washington,53061,1,0,53061.0,0.000000
3,2020-01-24,Cook,Illinois,17031,1,0,17031.0,0.000000
4,2020-01-24,Snohomish,Washington,53061,1,0,53061.0,0.000000
...,...,...,...,...,...,...,...,...
473021,2020-08-26,Sweetwater,Wyoming,56037,295,2,56037.0,1.098612
473022,2020-08-26,Teton,Wyoming,56039,417,1,56039.0,0.693147
473023,2020-08-26,Uinta,Wyoming,56041,289,2,56041.0,1.098612
473024,2020-08-26,Washakie,Wyoming,56043,107,5,56043.0,1.791759
473025,2020-08-26,Weston,Wyoming,56045,15,0,56045.0,0.000000

In [120]:
dcc.Store(id='store', data = df)

Store(id='store', data=             date      county       state   fips  cases  deaths  fipsnum  \
0      2020-01-21   Snohomish  Washington  53061      1       0  53061.0
1      2020-01-22   Snohomish  Washington  53061      1       0  53061.0
2      2020-01-23   Snohomish  Washington  53061      1       0  53061.0
3      2020-01-24        Cook    Illinois  17031      1       0  17031.0
4      2020-01-24   Snohomish  Washington  53061      1       0  53061.0
...           ...         ...         ...    ...    ...     ...      ...
473021 2020-08-26  Sweetwater     Wyoming  56037    295       2  56037.0
473022 2020-08-26       Teton     Wyoming  56039    417       1  56039.0
473023 2020-08-26       Uinta     Wyoming  56041    289       2  56041.0
473024 2020-08-26    Washakie     Wyoming  56043    107       5  56043.0
473025 2020-08-26      Weston     Wyoming  56045     15       0  56045.0

        log_deaths
0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
...            ...
473021    1.098612
473022    0.693147
473023    1.098612
473024    1.791759
473025    0.000000

[473026 rows x 8 columns])