# Notebook for preparing redesign of data management

First, we need to make sure we are in the root directory of the project to import custom modules. These notebooks are stored in `notebooks/` for cleanliness.

In [1]:
pwd

'/Users/DanOvadia/Projects/covid-hotspots/notebooks'

In [2]:
cd ..

/Users/DanOvadia/Projects/covid-hotspots

### Python Libraries

In [3]:
import pandas as pd

### Custom Modules

In [4]:
from modules import data_processing
from modules import plotting

# Extension to auto reload custom modules
%load_ext autoreload

%autoreload 1

%aimport modules.data_processing
%aimport modules.plotting

## Data Importing

### County GeoJson - polygons for choropleth plot

We are getting these data from [plotly](https://plotly.com/python/mapbox-county-choropleth/).

In [5]:
# Get county geojson
COVID_GEOJSON = data_processing.load_county_geojson()

Pulling geojson from file.

### County Coronavirus Data
We import data from [New York Times GitHub](https://github.com/nytimes/covid-19-data) to get county level coronavirus data.

In [6]:
# Get county data
COVID_COUNTIES_DF = data_processing.get_covid_county_data()

Retrieving Covid County data
Pulling county data from file.

### State Coronavirus Data

We get state level data from The Atlantic's [Covid Tracking Project](https://covidtracking.com/) through their [Data API](https://covidtracking.com/data/api).

In [7]:
# Get state data
COVID_STATES_DF = data_processing.get_covid_state_data()

Pulling state data from file.

Lets check nulls for fips codes from NYtimes

In [13]:
date_mask = (COVID_COUNTIES_DF['date'] == '2020-08-28')

fips_error_mask = (COVID_COUNTIES_DF['fips'].map(lambda x:len(x)) < 5)

print(len(COVID_COUNTIES_DF[fips_error_mask & date_mask]))
COVID_COUNTIES_DF[fips_error_mask & date_mask]

30

,date,county,state,fips,cases,deaths,fipsnum,log_deaths
476351,2020-08-28,Unknown,Alaska,nan,56,0,NaN,0.000000
476440,2020-08-28,Unknown,Arkansas,nan,815,0,NaN,0.000000
476574,2020-08-28,Unknown,Connecticut,nan,104,0,NaN,0.000000
476579,2020-08-28,Unknown,Delaware,nan,279,0,NaN,0.000000
476644,2020-08-28,Unknown,Florida,nan,959,0,NaN,0.000000
476793,2020-08-28,Unknown,Georgia,nan,2497,4,NaN,1.609438
476809,2020-08-28,Unknown,Guam,nan,2256,11,NaN,2.484907
476949,2020-08-28,Unknown,Illinois,nan,1645,207,NaN,5.337538
477141,2020-08-28,Unknown,Iowa,nan,16,0,NaN,0.000000
477434,2020-08-28,Unknown,Louisiana,nan,350,163,NaN,5.099866
477456,2020-08-28,Unknown,Maine,nan,3,0,NaN,0.000000
477481,2020-08-28,Unknown,Maryland,nan,0,17,NaN,2.890372
477498,2020-08-28,Unknown,Massachusetts,nan,1533,5,NaN,1.791759
477579,2020-08-28,Unknown,Michigan,nan,345,4,NaN,1.609438
477662,2020-08-28,Unknown,Minnesota,nan,196,49,NaN,3.912023
477805,2020-08-28,Joplin,Missouri,nan,691,21,NaN,3.091042
477806,2020-08-28,Kansas City,Missouri,nan,8995,96,NaN,4.574711
478009,2020-08-28,Unknown,Nebraska,nan,77,0,NaN,0.000000
478042,2020-08-28,Unknown,New Hampshire,nan,3,0,NaN,0.000000
478063,2020-08-28,Unknown,New Jersey,nan,328,0,NaN,0.000000
478125,2020-08-28,New York City,New York,nan,238107,23680,NaN,10.072428
478304,2020-08-28,Unknown,North Dakota,nan,4,4,NaN,1.609438
478471,2020-08-28,Unknown,Oklahoma,nan,21,0,NaN,0.000000
478650,2020-08-28,Unknown,Puerto Rico,nan,1328,0,NaN,0.000000
478662,2020-08-28,Unknown,Rhode Island,nan,1874,19,NaN,2.995732
478863,2020-08-28,Unknown,Tennessee,nan,206,0,NaN,0.000000
479146,2020-08-28,Unknown,Utah,nan,17,1,NaN,0.693147
479163,2020-08-28,Unknown,Vermont,nan,8,0,NaN,0.000000
479337,2020-08-28,Unknown,Washington,nan,2,2,NaN,1.098612
479460,2020-08-28,Unknown,Wisconsin,nan,4305,8,NaN,2.197225

We have 30 counties that have null fips codes. Some of them even have null county names. Not sure how to deal with this for the dashboard. NYC combined the five borroughs to represent the whole city.

------

### County Census Data

In [8]:
# Get Census Data
CENSUS_COUNTY_DF = data_processing.get_census_county_data()